player-connection-mode=Listen
player-connection-guid=175822703
player-connection-debug=0
player-connection-project-name=Chess
player-connection-ip=192.168.135.87
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=56eebe0a91a64a8b8bb31651f657faeb
